.box{
    background-color: red;
    height: 100vh;
}

@media all and (min-width:480px){
    .box{
        background-color: yellow;
    }
}

@media all and (min-width: 768px){
    .box{
        background-color: green;
    }
}