div{
    background-color: pink;
    width: 100px;
    height: 100px;
}

.block{
    display: block;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}

.none{
    display: none;
}